.shape {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  /* background-color: blue; */
}

main {
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin: 5em auto;
  background: white;
  flex-wrap: wrap;
}
